.sideNavContainer {
    display: none;
}

@media (max-width: 480px) {
    .sideNavContainer {
        display: inherit;
        position: fixed;
        z-index: 100;

    }
}

.sideNavButtonHolder {
    width: 100vw;
    background: rgba(255, 255, 255, 0.838);
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #f1f1f1;
    padding-left: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--secondary-text-color);
    display: block;
    transition: 0.3s;
    margin: 0 5px 0 5px
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (min-width: 480px) {
    .sidenav {
        display: none;
    }
}


.text-blue {
    composes: text-blue from '../NavBar/page.module.css'
}

.text-black {
    composes: text-black from '../NavBar/page.module.css'

}