:root {
  --background-color: #ffeffdd6;
  --primary-color: #000000;
  --secondary-color: #f99553;
  --secondary-text-color: #ffffff;
  --primary-text-color: #34322E;
  --primary-text-color-light: #5f5b59;
  --card-background: #bcbcbc;
  --border-radius: 30px;
  --swiper-theme-color: var(--secondary-color) !important;
  --border-color: #5f5b591c
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #070117;
    --primary-color: #3D087B;
    --secondary-color: #F43B86;
    --text-color: #f1dfff;
    --card-background: #1d0c2a;
    --border-radius: 30px;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* overflow-y: hidden; */
}

html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  background-color: var(--background-color);
  /* position: relative; */
  /* display: block; */
  width: auto;
  background-image: url(/decor3.webp);
  background-size: contain;
  background-repeat: repeat;
  background-position: top center;
}

footer {
  background-color: #070117;
  color: #fff;
  min-height: 6rem;
  text-align: center;
  margin-top: 10rem;
  padding: 1rem;
}

main {
  /* padding: 10px; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

/* ---------------------------- */
@media all and (min-width: 1200px) {

  /* means 1200px and more than that */
  html {
    font-size: 16px !important;
    /* background-color: red; */
  }
}

@media all and (max-width: 1200px) {

  /* means 1200px and less than that */
  html {
    font-size: 15px !important;
    /* background-color: green */
  }
}

@media all and (max-width: 900px) {

  /* means 900px and less than that */
  html {
    font-size: 14px !important;
    /* background-color: blue */
  }
}

@media all and (max-width: 680px) {

  /* means 680px and less than that */
  html {
    font-size: 13px !important;
    /* background-color: yellow */
  }
}

@media all and (max-width: 580px) {

  /* means 680px and less than that */
  html {
    font-size: 12px !important;
    /* background-color: pink */
  }
}

@media all and (max-width: 380px) {

  /* means 680px and less than that */
  html {
    font-size: 11px !important;
    /* background-color: violet */
  }
}


/* custom scrollbar */

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* ===========HTML ELEMENT STYLE============= */
h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

small {
  font-size: 0.7rem;
}

/* ================application global css=============== */

.logo {
  position: fixed;
  top: 0;
  padding: 2px;
}

.primary-button {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  border-radius: var(--border-radius);
  margin: 0 2px 0 2px;
  cursor: pointer;
}

.normal-gap {
  margin: 2rem 0 2rem 0;
}

.container {
  min-height: 100vh;
  padding-top: 5rem;
  margin-bottom: 10rem;
}


.swiper-slide {
  width: auto !important;
}

.swiper {
  width: 90%;
}