.main {
  min-height: 100vh;
  max-width: 100vw;
}

.welcomeText {
  color: var(--secondary-text-color);
  font-size: 8rem;
  font-family: 'Righteous';
}

.welcomeSubheading {
  color: var(--secondary-text-color);
  padding: 1rem;
}

.welcomeSubSubheading {
  color: var(--secondary-text-color);
  position: absolute;
  bottom: 0%;
}

.landing-page-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.86)), url('/landing-page-image/pratistha.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.booking-starting-price {
  color: var(--secondary-text-color);
}