.home-page-contact {
    width: 98vw;
    background-color: rgb(6 6 14);
    color: white;
    padding: 10px;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 13rem;
    background-color: white;
    margin: 1rem;
    padding: 20px;
    border-radius: var(--border-radius);
}

.contact-head {
    font-weight: 700;
    font-size: medium;
}